<% if @track && @track.errors.any?%>
  <ul>
    <% @track.errors.full_messages.each do |message| %>
      <li class='list-group-item-danger error'><%=message%></li> 
    <%end%>
  </ul>
<%end%>

<form method='post' action='/tracks'>

  <div class='form-group'>
    <label>Song Title: </label>
    <input type='text' name='song_title' value="<%= @track && @track.song_title%>" class='form-control'></input>
  </div>

  <div class='form-group'>
    <label>Author: </label>
    <input type='text' name='author' value="<%= @track && @track.author%>" class='form-control'></input>
  </div>

  <div class='form-group'>
    <label>URL: </label>
    <input type='text' name='url' value="<%= @track && @track.url %>" class='form-control'></input>
  </div>
  <div =class='form-group'> 
  <button type='submit' class='btn btn-primary'>Submit</button>
  </div>
</form>
<div>
  <!--  <a href='/../'><button class='btn btn-secondary'>Go back</button></a>-->
</div>
<div class='gifs'>
  <img src="http://66.media.tumblr.com/tumblr_m29o1wvc9W1r94pqh.gif"/>
</div>
