<h1><%= @track.song_title %></h1>
<p>Artist: <%=@track.author%></p>
<p><a href=<%=@track.url%>>Click here to listen!</a></p>
<p>Posted by: </p>
<p>Posted at <strong><%=@track.created_at%></strong></p>
<a href='/../'><button>Go Back</button></a>
