<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!--Custom made CSS additions -->
  <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.css'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/custom.css'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap-theme.css'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/application.css'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap-theme.min.css'>
  <title>TRACTER</title>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TRACKTER</a> </div> 
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li><a href="/tracks">Tracks<span class="sr-only">(current)</span></a></li>
    <li><a href="/users">Users</a></li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li><a href="/logout">Logout</a></li>
              <li><a href='users/<%=current_user.id%>'><%=current_user.username%></a></li> 
            <%else%>
              <li><a href='/users/login'>Login</a></li>
              <li><a href='/users/sign_up'>Sign Up</a></li>
            <%end%>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <%= yield %>
</body>
</html>

